#actions,
#data-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

#data-area {
  margin-left: 5%;
  margin-top: 5px;

}

#lines {
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px #E2E3F4;
  height: 400px;
}

#pie {
  margin-left: 10%;
}

#bars {
  width: 100%;
}

#intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

}

#intro-title {
  font-size: 5rem;
  margin: 0;
  color: #FFFFFF;
}

#intro-subtitle {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

#continueGoogle {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  box-shadow: 1px 1px 1px 1px #FFFFFF;
}

#bar-container {
  height: auto;
}

/*--------------------------Add expenses area-----------------------*/
#add {
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 25px;
  padding: 0;

}

#add label {
  font-size: 1.3rem;
  margin-left: 0;
}

#add input,
select {
  border-radius: 25px;
  width: 35%;
  height: 30px;
  border: none;
}

.field-area {
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
}

#text-add {
  margin-top: 10%;
}

#add-btn {
  width: 10%;
  height: 30px;
  border-radius: 25px;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.5rem;
  border: 1px solid #E2E3F4;
  background-color: #FFFFFF;
}


/*---------------------------Expenses Area-------------------------------*/
#text-overview {
  margin-top: 5%;
  color: #FFFFFF;
}

.user-situation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: auto;
  height: 450px;
  padding: 15px;
  margin-right: 5%;
  margin-left: 5%;
  background-color: #FFFFFF;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 1px 1px 1px 1px #E2E3F4;
  border-radius: 25px;
}

.user-container {
  border-radius: 25px;
  font-size: 0.8rem;
  padding: 15px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;

}

#balance {
  background-color: #FFFFFF;
}

#revenue {
  background-color: #A1E5AB;
}

#outflow {
  background-color: #FBA69D;
}

#text-balance {
  margin-top: 5%;
  color: #FFFFFF;
}

#exp-table {
  box-shadow: 1px 1px 1px 1px #E2E3F4;
  background-color: #FFFFFF;
  border-radius: 25px;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 25%;
  position: absolute;
}

#text-table {
  margin-top: 5%;
  margin-bottom: -2%;
  color: #FFFFFF;

}

#exp-table tr {
  font-size: 1rem;
}

td+td,
th+th {
  border-left: 1px solid #E2E3F4;
}

.positive {
  color: #45b350;
}

.negative {
  color: #FBA69D;
}

.remove {
  background-color: transparent;
  border: none;
  color: #ce0000;
}

.edit {
  background-color: transparent;
  border: none;
  color: #0a7e15;
}

.edit-form {
  margin-bottom: 5%;
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #E2E3F4;
  border-radius: 25px;

}

.edit-form input {
  border-radius: 25px;
  border: 2px solid #E2E3F4;
  height: 25px;
  margin: 1%;
  font-size: 1.5rem;
}

.edit-form label {
  font-size: 1.5rem;
}

.btn-exp {
  font-size: 1.5rem;
}

/*-----------------------Charts area------------------*/
#text-no-expenses{
  color:#FFFFFF;
}
.stats-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 25px;
  font-size: 1.2rem;
  color: #000000;
  margin-left: 15%;
  margin-top: 5%;
}

@media (max-width: 990px) {
  #pie {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
  }

  #data-area {
    margin-top: 5%;
  }

}

/*-----------------------Mobile-----------------------*/
@media (max-width: 600px) {
  #add {
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
  }

  #add input,
  select {
    width: 90%;
    height: 25px;
  }

  .field-area {
    margin-left: 0;
    margin-top: 3%;
  }

  #data-area {
    width: 90%;
  }

  #lines {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
  }

  #pie {
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
  }

  #add-btn {
    width: 50%;
    height: 35px;
    font-size: 1rem;
  }

  #actions {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #user-situation {
    flex-direction: column;
    padding: 20px;

  }

  .user-situation {
    height: auto;

  }

  .user-container {
    width: 100%;
    height: 5%;
    font-size: 0.9rem;
    padding: 0;
  }

  #exp-table {
    width: auto;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    font-size: 0.2rem;
  }

  #exp-table tr {
    font-size: 1rem;
  }

  #text-table {
    font-size: 2rem;
    margin-top: 15%;
  }

  .edit-form {
    margin-left: 2%;
    margin-right: 2%;
  }

  .edit-form input {
    font-size: 1rem;
  }

  .btn-exp {
    font-size: 1.2rem;
  }



}

/*-----------------------Tablet-----------------------*/
@media (max-width: 768px) {
  #add {
    margin-left: 3%;
    margin-right: 3%;
  }

  #add input,
  select {
    width: 80%;
    height: 28px;
  }

  .field-area {
    margin-left: 5%;
    margin-top: 4%;
  }

  #add-btn {
    width: 40%;
    height: 35px;
    font-size: 1.2rem;
  }

  #user-situation {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    height: auto;
  }

  .user-situation {
    flex-direction: column;
  }

  .user-container {
    width: 100%;
    margin: 10px 0;
  }

  #exp-table {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }


  .edit-form {
    margin-left: 3%;
    margin-right: 3%;
  }

  .edit-form input {
    font-size: 1.3rem;
  }

  .btn-exp {
    font-size: 1.3rem;
  }

  .stats-container {
    height: 300px;
    margin-left: 10%;
    margin-top: 4%;
  }

}

/*-----------------------Desktop-----------------------*/
@media (min-width: 1024px) {


  #add input,
  select {
    width: 35%;
    height: 30px;
  }

  .field-area {
    margin-left: 10%;
    margin-top: 5%;
  }

  #add-btn {
    width: 10%;
    height: 30px;
    font-size: 1.5rem;
  }

  #user-situation {
    flex-direction: row;
    padding: 70px;
    height: 400px;
  }

  .user-container {
    width: 100px;
    margin: 10px;
    margin-top: 5%;
  }

  #exp-table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
  }

  .edit-form {
    margin-left: 5%;
    margin-right: 5%;
  }

  .edit-form input {
    font-size: 1.5rem;
  }

  .btn-exp {
    font-size: 1.5rem;
  }

  .stats-container {
    width: 25%;
    margin-left: 15%;
    margin-top: 5%;
  }

  #pie {
    margin-top: 10%;
    margin-right: 5%;
  }

  #lines {
    width: 60%;
  }

}


@media (max-width: 481px) {
  #intro-title {
    font-size: 3.5rem;
  }

  #add {
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 25px;
    padding: 40;
  }

  .user-situation {
    flex-direction: column;
    padding:45px;
  }

  .user-container {
    font-size: 0.8rem;
    margin: 5px;
  }

  #data-area {
    margin-top: 5%;
  }

  #pie {
    margin-left: 0;
  }

}

@media (max-width: 481px) {
  .user-situation {
    padding:15px;
  }

}