body {
  background: #BE93C5; 
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  text-align: center;
}

h1 {
  color: #0A100D;
}

h2 {
  color: #0A100D;
}
.title{
  font-size:2rem;
  text-align: left;
  margin-left:7%;
}


  /*-----------------------selectPeriod Area------------------------*/
  .text-select{
    font-size:2.5rem;
  }
  #filter-area{
    display: flex;
    margin-left:5%;
    margin-top:2%;
    width:30%;
    padding:15px;
    color:#FFFFFF;
    
  }
  #filter-area label{
    font-size:1rem;
    font-weight: bold;
    
  }
  #filter-area select{
    font-size:1rem;
    font-weight: bold;
    width:100px;
    background-color: #E2E3F4;
    margin-right:25px

  }
  @media (max-width: 481px) {
    #filter-area{
      justify-content: start;
      align-items: start;
      width:90%;
    }

  }